services:
  bookmarks:
    image: lehmann314159/bookmarks:latest
    build: .
    ports:
      - "8081:8080"
    volumes:
      - bookmarks_data:/data
    restart: unless-stopped

volumes:
  bookmarks_data:
